<ul class="category_list">
  [% FOREACH category = categories %]
    <li id="cat_[% category.id %]" class="cat_colour_[% category.colour %][% IF category.decor %] cat_decor_[% category.decor %][% END %]">[% category.name %] <span id="toggle_cat_[% category.id %]"></span></li>
  [% END %]
</ul>
