<!DOCTYPE html>
<html>

<head>
  <title>[% IF subtitle %][% subtitle %]: [% END %][% site_name %]</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="description" content="[% site_description %][% IF updated %]  Last updated at [% updated | html %].[% END %]" />

  [% SET leaflet_version='1.0.3' %]

  <link rel="stylesheet" href="[% base_url %]css/main.css" type="text/css" />
  <link rel="stylesheet" href="https://unpkg.com/leaflet@[% leaflet_version %]/dist/leaflet.css">

  <script type="text/javascript" 
      src="https://code.jquery.com/jquery-3.1.1.min.js">
  </script>
  <script type="text/javascript" src="[% base_url %]js/main.js"></script>

  [% IF do_map %]
    <script src="https://unpkg.com/leaflet@[% leaflet_version %]/dist/leaflet.js"></script>
    <script type="text/javascript" src="[% base_url %]js/map.js"></script>
  [% END %]

  [% TRY %]
    [% INCLUDE custom_header_insert.tt %]
  [% CATCH %]
  [% END %]

</head>

<body>

<div id="body_wrapper">

  <div id="banner">
    <h1 class="page_header"><a href="[% base_url %]">[% site_name %]</a></h1>
  </div>

  [% INCLUDE navbar.tt %]

  <div id="main_content">

    [% IF subtitle %]
      <h2[% IF subtitle_class %] class="[% subtitle_class %]"[% END %]>[% subtitle %]</h2>
    [% END %]
